.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  width: 200px;
  margin: 10px 10px 10px 0px;
  border-radius: 15px;
  perspective: 1px;
  height: 450px;
  float: left;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

p {
  margin: auto;
}
h5{
  overflow: hidden;
  height: 50px;
}
.details{
  padding: 10px;
}

.fa-heart{
  color: red;
}

i{
  margin-top: 10px;
  cursor: pointer;
}